.button {
    height: 51px;
    width: 200px;
    background-color: rgb(246, 246, 246);
    border-radius: 50px;
    box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  
   
}

.title{
    text-decoration: none;
    font-weight: 'bold';
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.button:hover {
    background-color: var(--primary-color);
}

