.button {
    height: 51px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  
   
}

.title{
    text-decoration: none;
    font-weight: 'bold';
    color: rgb(245, 242, 242);
    font-size: 16px;
    font-weight: 400;
}

.button:hover {
    background-color: white;
  }
  
  .button:hover .title {
    color: black;
  }

  @media screen and (max-width: 430px) and (min-width: 414px) {
    .button{
      display: none;
    }
  }
  @media screen and (max-width: 768px) and (min-width: 390px) {
    .button{
      display: none;
    }
  }


