.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the column width as needed */
    gap: 20px; /* Adjust the gap between items */
    padding: 20px; /* Adjust the padding as needed */

}

.projectItem {
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}
