

.slider{
    height: 650px;
    width: 1000px;
    align-items: center;
    background-color: var(--tertiary-color);
    padding: 5%;
    border-radius: 100px;
    box-shadow: 1px;
      box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
   
  
}

.maincontent{
    display: flex;
    flex-direction: column;
}