.main {
    width: 100%;
    height: auto; 
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    left: 0;


    
  }
  

  .links {
    display: flex;
    flex-direction: row;
    gap: 2rem; /* Adjusted for smaller screens */
    margin-right: 2rem; /* Adjusted for smaller screens */
    text-decoration: none;
  
}
.page {
    color: #ffff;
}
  
  .socials {
    display: flex;
    flex-direction: row;
    gap: 2rem; 
  }
  
  