.maincontent{
    display: flex;
     flex-direction: column;
     margin: auto;
     overflow-x: hidden;
     overflow-y: hidden;
     
   
   
      
   }
   .header{
     font-size: 62px;
     font-weight: 800;
   }
   
   
   .topcontent {
     border-radius: 20px;
     border: .5px solid lightgrey;
     padding: 5%;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
     width: 75%;
     
    
   }
   .description {
     display: flex;
     flex-direction: row;
     align-items: center;
     
   }
   .concept {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 5%;
     border-radius: 20px;
     width: 40%;
     height: 300px;
     border: .5px solid lightgrey;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
   }
   
   .secondcontent {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
   }
   .thirdcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
    flex-wrap: wrap;
  }
   .design {
     display: flex;
     flex-direction: column;
     width: 50%;
   }
   .web{
     border: .5px solid lightgrey;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
     border-radius: 15px;
   }
   .thirdcontent{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding-bottom: 5%;
   }
   .resumebutton {
     height: 51px;
     width: 200px;
     background-color: white;
     border-radius: 50px;
     box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
   
   
   }
   .buttoncontainer {
     margin-left: 75%;
   }
   
   .rtitle {
     text-decoration: none;
     font-family: var(--font-mono);
     font-weight: 300;
     font-size: 16px;
     color: black;
   }
   
   
   
   .resumebutton:hover {
     background-color: var(--primary-color);
   }
   /* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjustments for screens up to 768px width */
    .header {
      font-size: 8vw; /* Adjust font size for smaller screens */
    }
    
    .topcontent, .concept, .design, .web {
      width: 80%; /* Adjust width for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Adjustments for screens up to 480px width */
    .header {
      font-size: 10vw; /* Adjust font size for even smaller screens */
    }
    
    .topcontent, .concept, .design, .web {
      width: 95%; /* Adjust width for even smaller screens */
    }
  }
  @media screen and (max-width: 768px) {
    .thirdcontent > * {
      gap: 10%; /* Adjust the value as needed */
    }
  }