:root {
  --max-width: 100%;
  --font-mono: 'anybody';
  --primary-color: #FF85AF;
  --secondary-color: #042A2B;
  --tertiary-color: #EAF4F4;
  background-image: url('/backgroundBlobs/backgroundgradient.png');
  background-repeat: repeat;
  background-size: cover; /* Cover the entire viewport */
  background-position: center center;
  overflow-x: hidden;

}

main {
  font-family: 'Anybody', sans-serif;
  position: relative; /* Ensure the container has a position value */
  margin: 1%;
  padding-top: 2%;
}


  

body {
  font-family: 'Anybody', sans-serif;
  font-weight: 300;

}







