:root {
  --max-width: 100%;
  --font-mono: 'anybody';
  --primary-color: #FF85AF;
  --secondary-color: #042A2B;
  --tertiary-color: #EAF4F4;

}

main {
  font-family: 'Anybody', sans-serif;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;

 
  
}
body {
  font-family: 'Anybody', sans-serif;
  font-weight: 300;

}







