.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20%;
  margin-left: 5%;
  
}
.intro{
  display: flex;
  flex-direction: column;
  width: 400px;
}
.thirdbuttons {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-top: 2%;
  
}

.resumebutton {
  height: 40px;
  width: 150px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;


}

.rtitle {
  text-decoration: none;
  font-family: var(--font-mono);
  font-weight: 300;
  font-size: 12px;
  color: black;
}


.resumebutton:hover {
  background-color: var(--primary-color);
}


@media screen and (max-width: 414px) {
  
 
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

  .intro {
    width: 300px;
  }
  
}

@media screen and (max-width: 768px) and (min-width: 430px) {
  
 
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

  .intro {
    width: 300px;
  }
  
}

@media screen and (max-width: 1024px) {
  
 
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

  .intro {
    width: 500px;
  }
  
}


