.main{
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  


   
}

.mascotrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
    font-size: 62px;
    font-weight: 800;
}

.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    
}

.firstcontent {
    height: 25%;
    width: 900px;
    border-radius: 20px;
    border: .5px solid lightgrey;
    padding: 5%;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
   
}
.innerapp {
  font-weight: 300;
}

.leftcontent {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: .5px solid lightgrey;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
    width: 50%;
    padding: 2rem;


}

.caption {
    color: var(--tertiary-color);
}
.body{
    color: var(--tertiary-color);
    font-weight: 100;
}

.rightcontent {
    height: 400px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.userpersona {
  height: 700px;
  width: 85%;
  border-radius: 20px;
  border: .5px solid lightgrey;
  padding: 5%;
  box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
  margin-top: 5%;
}
.personacontent {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.leftpersona {
  display: flex;
  flex-direction: column;
}
.features{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.leftcontent1 {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    height: 620px;
    width: 50%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
}
.rightcontent2 {
    height: 600px;
    width: 40%;
    padding: 5%;
   
}
.leftcontent2 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 55%;
    padding: 2rem;
    margin-top: 2%;
}
.rightcontent3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-top: 2%;
    width: 50%;
   
}
.screenshotsimg {
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
}

.prototypingcontent {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    
}
.prototyping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.prototypingcontent1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: .5px solid lightgrey;
  padding: 5%;
  box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
  width: 40%;
}
.prototypeheader{
  margin-top: 10%;
}

.mascots{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.screenshots{
  
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 13%;
    
}
.lowfi{
    display: flex;
    flex-direction: column;
    width: 50%;
 
   
   
    
}

.description{
    width: 500px;
}



.persona {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rightcontent4 {
    height: 400px;
    width: 50%;
    margin-left: 5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
 
}
.leftcontent4 {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    height: 400px;
    width: 50%;
    padding: 2rem;


}


.coding{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    width: 50%;
    height: 500px;
    margin-top: 5%;
    border-radius: 20px;
    border: .5px solid lightgrey;
    padding: 5%;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
}
.code{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.highFiImage {
    width: 500px; 
    height: 1100px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  .journeymap {
    width: 1000px; 
    height: 600px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;

  }
  .codingcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  
  
  .codingdescription {
   margin-right: 5%;
  }

  .codingleft {
    width: 100%;
  }
  
  .codingright {
    width: 50%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;

  }

  .websupplement{
    height: 710px;
    width: 85%;
    border-radius: 20px;
    border: .5px solid lightgrey;
    padding: 5%;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
    margin-top: 5%;
 
  }

  .wireframe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
  }


  .video{
    height: 650px;
    border-radius: 60px;
    border: .5px solid lightgrey;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
  }

 

  .bottomimage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttoncontainer {
    margin-top: 5%;
  }
  .buttongroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 5%;
  }

  .resumebutton {
    height: 51px;
    width: 200px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  
  
  }
  
  .rtitle {
    text-decoration: none;
    font-family: var(--font-mono);
    font-weight: 300;
    font-size: 16px;
    color: black;
  }

  .journeymaptext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  
 