.maincontent{
    display: flex;
     flex-direction: column;
     overflow-x: hidden;
     overflow-y: hidden;
   
      
   }
   .header{
     font-size: 62px;
     font-weight: 800;
   }
   
   
   .topcontent {
     border-radius: 20px;
     border: .5px solid lightgrey;
     padding: 5%;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
     width: 50%;
     background-color: white;
    
   }
   .description {
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-direction: wrap;
     gap: 5%;
     
   }
   .projimage {
    border-radius: 20px;
    border: .5px solid lightgrey;
    padding: 5%;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
    background-color: white;
   }
   .concept {
     display: flex;
     flex-direction: column;
     padding: 5%;
     border-radius: 20px;
     width: 40%;
     height: 300px;
     border: .5px solid lightgrey;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
     background-color: white;
   }
   
   .secondcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
  
  }
   .design {
     display: flex;
     flex-direction: column;
     width: 50%;
     flex-wrap: wrap;
     display: flex;
     flex-direction: column;
     width: 50%;
     border-radius: 20px;
     border: .5px solid lightgrey;
     padding: 3%;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
     background-color: white;
     margin-bottom: 2%;
     width: 45%;
   }
   .web{
     border: .5px solid lightgrey;
     box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
     border-radius: 15px;
     background-color: white;
   }
   .thirdcontent{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding-bottom: 5%;
     flex-wrap: wrap;
   }
   .thirdcontent3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
    flex-wrap: wrap;
  }
   .resumebutton {
     height: 51px;
     width: 200px;
     background-color: white;
     border-radius: 50px;
     box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
   
   
   }
   .buttoncontainer {
     margin-left: 75%;
   }
   
   .rtitle {
     text-decoration: none;
     font-family: var(--font-mono);
     font-size: 16px;
     font-weight: 400;
     color: black;
   }
   
   .hex{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   
   .resumebutton:hover {
     background-color: var(--primary-color);
   }
/* Media Queries */
@media screen and (max-width: 414px) {
  
  .header {
    margin-top: 10%; 
    font-size: 32px;
  }

  .maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
  }
  
  .projlogo{
    height: 200px;
    width: 120px;
  }

  .topcontent {
    width: 40%;
  }
  .description{
    font-size: 10px;
    gap: 11%;
  }
.buttoncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25%;
  
}
  .resumebutton{
  
    height: 30px;
    width: 100px;
   
  }

.rtitle{
  font-size: 10px;

}
.secondcontent {
  width: 750px;
  margin-top: 10%;


}

.concept {
  font-size: 10px;
}

.mainscreencomp{
  height: 300px;
  width: 500px;
}
.design {
  width: 375px;
  font-size: 10px;
}

.web {
  height: 600px;
  width: 250px;
}
.thirdcontent {
 width:100%;
 padding-bottom: 40%;
}

.thirdcontent3{
  gap: 20%;
}

.hex {
  height: 20px;
  width: 20px;
}
}

@media screen and (max-width: 430px) {
  
  .header {
    margin-top: 10%; 
    font-size: 32px;
  }

  .maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
  }
  
  .projlogo{
    height: 200px;
    width: 120px;
  }

  .topcontent {
    width: 40%;
  }
  .description{
    font-size: 10px;
    gap: 11%;
  }
.buttoncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25%;
  
}
  .resumebutton{
  
    height: 30px;
    width: 100px;
   
  }

.rtitle{
  font-size: 10px;

}
.secondcontent {
  width: 750px;
  margin-top: 10%;


}

.concept {
  font-size: 10px;
}

.mainscreencomp{
  height: 300px;
  width: 500px;
}
.design {
  width: 375px;
  font-size: 10px;
}

.web {
  height: 600px;
  width: 250px;
}
.thirdcontent {
 width:100%;
 padding-bottom: 40%;
}

.thirdcontent3{
  gap: 20%;
}

.hex {
  height: 20px;
  width: 20px;
}
}
@media screen and (max-width: 820px) and (min-width: 768px) {
  
  .header {
    margin-top: 10%; 
    font-size: 32px;
  }

  .maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
  }
  
  .projlogo{
    height: 300px;
    width: 200px;
  }

  .topcontent {
    width: 40%;
  }
  .description{
    font-size: 16px;
    gap: 11%;
  }
.buttoncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25%;
  
}
  .resumebutton{
  
    height: 30px;
    width: 100px;
   
  }

.rtitle{
  font-size: 10px;

}
.secondcontent {
  width: 1100px;
  margin-top: 10%;


}

.concept {
  font-size: 16px;
}


.design {
  width: 600px;
  font-size: 16px;
}

.web {
  height: 1100px;
  width: 450px;
}
}