
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin: 2%;
}

.header{
    font-weight: 400;
    display: flex;
    align-items: flex-start;
}

.firstcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.overview {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 600px;
    margin-left: 5%;
  
}

.innerapp{
    font-weight: 300;
}

.purplediv{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #192D2B;

}
.line {
    width: 100%;
    margin: 0;
    margin-top: 1%;
}

.projectoverview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

.leftcontent {
    width: 40%;
    
}

.rightcontent {
    width: 40%;
}

.persona {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.personaintro{
    width: 25%;
}

.rightpersona{
    width: 40%;
}



.designprocess{
    display: flex;
    align-items: flex-start;
}
.leftcontent1{
    display: flex;
    flex-direction: column;
    padding: 5%;

    justify-content: center;
}
.colorpallet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

}
.hexdescription{
    width: 500px;
    text-align: left;
}
.heximages{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.logogrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the column width as needed */
    gap: 25px; /* Adjust the gap between items */
    padding: 10px; /* Adjust the padding as needed */
}



.userflow {
    display: flex;
    flex-direction: column;
  
}
.web{
    border: .5px solid lightgrey;
    box-shadow: 8px 8px 8px rgba(4, 42, 43, 0.5);
    border-radius: 15px;
  }
.description{
    width: 500px;
}
.prototypingcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.protodescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.screenshotsimg{
    border-radius: 15px;
    box-shadow: 4px 4px 6px rgba(4, 42, 43, 0.5);


}





.resumebutton{
    height: 51px;
    width: 200px;
    background-color: rgb(246, 246, 246);
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgba(4, 42, 43, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.buttoncontainer{
    margin-top: 2%;
}

.rtitle{
    text-decoration: none;
    font-weight: 'bold';
    color: black;
    font-size: 16px;
    font-weight: 400;
}


.buttongroup {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.resumebutton:hover {
    background-color: var(--primary-color);
}
.interface {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.photodescription {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* For screens smaller than 600px */
@media (max-width: 600px) {
    .firstcontent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .overview,
    .purplediv {
        width: 90%; /* Adjust as needed */
    }

    .leftcontent,
    .rightcontent {
        width: 90%; /* Adjust as needed */
    }

    .persona {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rightpersona {
        width: 90%; /* Adjust as needed */
    }

    .features {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature1 {
        margin-bottom: 20px; /* Adjust as needed */
    }

    .colorpallet,
    .logogrid,
    .mascots,
    .prototypingcontent,
    .lowfi,
    .prototyping2,
    .code,
    .vid,
    .webcontainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .resumebutton,
    .buttoncontainer {
        width: 90%; /* Adjust as needed */
        margin: 2% 0;
    }

    .webcontainer {
        margin-left: 0; /* Adjust as needed */
    }
}

/* For screens larger than 600px */
@media (min-width: 601px) {
    /* Add your specific styles for larger screens here */
}